.profile-card-body {
    color: #5E1D2E;
    background-color: #E8E6D9;
    padding: 2rem;
    border-radius: 1rem 1rem 0 0;
    text-align: center;
}

.profile-card-footer {
    background-color: #CD6229;
}

.search-bar {
    width: 100%;
    max-width: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.album {
    max-width: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.main-button {
    color: white;
    background-color: #552C72;
    border: none;
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.main-button:hover {
    color: white;
    background-color: #3c0762;
    border: none;
}

.toggle {
    justify-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    margin-top: 4rem;
}

.toggle span {
    font-size: 18px;
    font-weight: 600;
    color: #5E1D2E;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #E8E6D9;
}