.profile-card-body {
    color: #5E1D2E;
    background-color: #E8E6D9;
}

.profile-card-footer {
    background-color: #CD6229;
}

.album {
    max-width: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.main-button {
    color: white;
    background-color: #552C72;
    border: none;
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.main-button:hover {
    color: white;
    background-color: #3c0762;
    border: none;
}

.toggle {
    height: 100%;
    justify-items: center;
    vertical-align: middle;
    line-height: 4em;
    font-size: 18px;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #E8E6D9;
}