.figu {
    padding: 20px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    width: 19%;
    height: 15vh;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    float: left;
    cursor: pointer;
}

.no-figu{
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 19%;
    height: 15vh;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    float: left;
}

/* Make bold the text */
.figu-name {
    color: #5E1D2E;
    font-weight: bold;
}