.figu {
    padding: 20px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    width: 19%;
    height: 15vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    float: left; 
    cursor: pointer;
    /* display: inline-block; */
}

.no-figu{
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 19%;
    height: 15vh;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    float: left;
}

.figu-name {
    color: #5E1D2E;
    font-weight: bold;
}